on:
  workflow_dispatch:
  push:
    branches: master

name: Flutter App Publish to netlify

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Flutter ci and build setup
        id: flutter-action
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:' # optional, change this to force refresh cache
          cache-path: ${{ runner.tool_cache }}/flutter/':channel:-:version:-:arch:' # optional, change this to specify the cache path
          architecture: x64 # optional, x64 or arm64
        run: |
          echo cache-path=${{ steps.flutter-action.outputs.cache-path }}
          echo cache-key=${{ steps.flutter-action.outputs.cache-key }}
          echo channel=${{ steps.flutter-action.outputs.channel }}
          echo version=${{ steps.flutter-action.outputs.version }}
          echo architecture=${{ steps.flutter-action.outputs.architecture }}
        shell: bash
      
      - name: Build Web Application
        run: flutter --version
      - run: flutter pub get
      - run: flutter test
      - run: flutter build web  --release
      

      - name: Push to netlify site
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: './build/web/'
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: false
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1